.ant-tabs {
  margin-top: 20px;
}

:where(.css-dev-only-do-not-override-k7429z).ant-tabs .ant-tabs-tab-btn {
  font-size: 12px;
  line-height: 12px;
}

:where(.css-dev-only-do-not-override-k7429z).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #00C62F;
}

:where(.css-dev-only-do-not-override-k7429z).ant-tabs .ant-tabs-ink-bar {
  background: #00C62F;
}

 .ant-steps-horizontal:nth-child(2) {
  display: none !important;
}

 .ant-steps-horizontal:nth-child(3) {
  display: none !important;
}

:where(.css-dev-only-do-not-override).ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #00C62F;
  border-color: #00C62F;
}

:where(.css-dev-only-do-not-override).ant-steps.ant-steps-navigation .ant-steps-item::before {
  background-color: #00C62F;
}

.ant-steps-item-active .ant-steps-item-icon {
  background-color: #00C62F !important;
  border-color: #00C62F !important;
}

.ant-steps-item-active .ant-steps-icon {
  color: #fff !important;
}

.icon-icoCobrarDismiss::before{
  font-size: 25px !important;
}

.icon-icoCobrar::before{
  font-size: 25px !important;
}

#BtnSiguiente, #BtnTerminar {
  display: none;
}

.Iconos-Tabla svg {
  //display: none;
  font-size: 14px;
}

.intl-tel-input {
  width: 100% !important;
  padding: 4px 0px;
  border: 1px  solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 12px;
}

.intl-tel-input .selected-flag {
  width: 64px !important;
  font-size: 12px !important;
  padding-right: 5px !important;
}

.intl-tel-input .selected-dial-code {
  padding-left: 6px !important;
  padding-right: 5px !important;
}

.intl-tel-input .flag-container .arrow {
  font-size: 6px !important;
  margin-left: 0px !important;
  position: relative;
  top: -4px;
}

.iti-flag {
  margin-top: 9px !important;
  margin-left: 5px;
}

.intl-tel-input input {
  width: 260px;
  margin-left: 10px !important;
  padding-left: 0px !important;
  border: 0px;
  text-align: left !important;
}

.ant-btn-default {
  display: none !important;
}

.Cargando {
  display: none;
  width: 25px;
  float: right;
  margin-top: -5px;
  margin-left: 5px;
}

.Cargando.Sf {
  float: none;
  text-align: center;
}
.Cargando.mostrarI-b{
  display: inline-block;
}

.Cargando.Mt {
  margin-top: 0px;
}

.Cargando.mostrar{
  display: block;
}

.ant-menu .ant-menu-item{
  width: 100%;
 height: 35px !important;
 font-size: 12px;
 font-weight: 500;
 line-height: 12px !important;
 margin-left: 0px;
 margin-top: 0px !important;
 margin-bottom: 0px !important;
 padding-left: 26px !important;
 border-radius: 0px !important;
}

.ant-menu .ant-menu-item:hover {
 background: url(../image/hoverMenu.png) no-repeat right;
 color: black !important;
 background-size: cover;
 -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.ant-menu-item-selected {
 color: #FFF !important;
 background: url(../image/selectedMenu.png) no-repeat right;
 background-size: cover;
}

:where(.css-dev-only-do-not-override-fpg3f5).ant-layout{
  background: #fff;
}

.Iconos-Tabla .icoBorrar {
  color: #f52121
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  padding: 4px !important;
  display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    text-align: center;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover {
  cursor: pointer !important;
  background-color: rgba(0, 0, 0, 0.04);
}

.anticon svg {
  display: none;
}

.ant-avatar .ant-avatar-string{
  line-height: 35px !important;
}