@import "../../sass/variables";

.HomeHeader {
  padding-top: 5px;
}

.HomeLogo {
  display: inline-block;
  font-size: 34px;
  padding-top: 6px;
  margin-top: 2px;
  margin-bottom: 16px;
}

.HomeUser {
  width: 36px !important;
  height: 36px !important;
  font-size: 14px !important;
  font-weight: 700;
  background: url(../../image/bgUser.png) no-repeat;
  background-size: cover;
  margin-top: 4px;
  margin-right: 22px
}

.HomeBienvenida {
  width: 355px;
  color: #8C8C8C;
  font-size: 18.3px;
  line-height: 22px;
  font-weight: 400;
  margin-top: 174px;
}

.HomeTitle {
  color: #000000;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}

.HomeIcoBienvenida {
  display: inline-block;
  margin-bottom: 16px;
  vertical-align: top;
}

.HomeIcoBienvenida:before {
  color: #8C8C8C;
  font-size: 55.798px;
}

.mobile{
  background: white !important;
  box-shadow: none !important;
}

.mobile  div{
  display: flex;
  justify-content: space-between;
}

.ant-menu-light .ant-menu-item-selected:active{
  background: black !important;
  color: rebeccapurple;
}

.icoMenu {
  height: 40px !important;
  margin-top: 8px !important;
}

.btnHome{
  background-color: $main-color;
  font-size: 11px;
  font-weight: 600;
  margin-left: 0;
  margin-top: 22px;
  padding: 0 14px;
  top: 0;
}


.TablaResumen {
  padding-top: 60px;
  margin-left: 100px;

  div{
    gap: 60px;
  }
}

.TitleColResumen {
  margin-bottom: 10px;
  text-transform: uppercase;
}


.TablaResumen table {
  background: #D9FFE2;
}

.TablaResumen table tr td{
  border-bottom: 1px solid #fff !important;
}

.TablaResumen table tr, .TablaResumen table tr td {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.TablaResumen table tr:hover, .TablaResumen table tr:hover td {
  color: #fff !important;
  background-color: #00C62F !important;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

@media all and (max-width: 1300px){
  .TablaResumen {
    margin-left: 50px;
  }
}

@media all and (max-width: 1250px){
  .TablaResumen {
    margin-left: 0px;
  }
}

@media all and (max-width: 1200px){
  .TablaResumen div{
    gap: 10px;
    width: 100%;
  }
}

@media all and (max-width: 750px){
  .TablaResumen {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  
    div{
      gap: 20px;
    }
  }
}